---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Tadeu - Infographic Mini Project">
    <div class="body-secondary">
        <div class="container">
            <header class="header">
                <div id="coffee">
                    <h1 style="text-align:left;">THE WORLD</h1>
                </div>
                <div id="center"><img
                        src="https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/cover.png"
                        alt="Coffee"></div>
                <div class="box">
                    <h1>
                        <div class="inner" id="hworld"></div>
                        <div class="inner" id="around"> around the coffee!</div>
                    </h1>
                </div>
            </header>
            <main>
                <section>
                    <div class="bodybox" id="titletype">
                        <h1>Types of coffee bean</h1>
                    </div>
                    <div class="bodybox">
                        <div class="bodyinner" id="bodyinimg"><img
                                src="https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/arabica.jpg">
                        </div>
                        <div class="bodyinner">
                            <h2>Arabica</h2>
                        </div>
                        <div class="bodyinner" id="bodydesc">
                            <p>The most common type of coffee, making up 70% of the global market. It's sweeter, more
                                delicate flavor and less acid.</p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div class="bodyinner" id="bodyinimg"><img
                                src="https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/robusta.jpg">
                        </div>
                        <div class="bodyinner">
                            <h2>Robusta</h2>
                        </div>
                        <div class="bodyinner" id="bodydesc">
                            <p>The second most common, 22% global market. Double amount of caffeine comparing to
                                Arabica. Stronger and more bitter taste, a hint of chocolate flavor. Much easier to
                                produce.</p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div class="bodyinner" id="bodyinimg"><img
                                src="https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/liberica.jpeg">
                        </div>
                        <div class="bodyinner">
                            <h2>Liberica</h2>
                        </div>
                        <div class="bodyinner" id="bodydesc">
                            <p>Fruity and floral aroma, woody taste. Considered for some as the most pleasant taste.
                                It's rare due to specific weather conditions. Roughly makes 2% of the global market.</p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div class="bodyinner" id="bodyinimg"><img
                                src="https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/excelsa.jpg">
                        </div>
                        <div class="bodyinner">
                            <h2>Excelsa</h2>
                        </div>
                        <div class="bodyinner" id="bodydesc">
                            <p>Liberica variant.It has the least amount of caffeine. Tart, fruity and mysterious taste.
                                Some love, some hate. Reaches 6% global market. </p>
                        </div>
                    </div>
                </section>
                <article>
                    <div class="bodybox" id="titleflavor">
                        <h1>Coffee flavors</h1>
                    </div>
                    <div class="bodybox" id="flavors">
                        <p>Existing over 850 flavors compounds, coffee became one of the most complex beverage in the
                            world. The flavor building depends on certain elements described below:</p>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Terrain.</h3>
                        </div>
                        <div id="innerflavor">
                            <p>The land where coffee grows plays an important role in dictating what flavors will be in
                                the coffee. Factors such as the pH in the soil, amount of precipitation, elevation,
                                temperature, sun, etc.</p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Cultivation.</h3>
                        </div>
                        <div id="innerflavor">
                            <p> The fertilization process is integral. Nutritional compounds such as organic or
                                biodynamic nutrients also affect the coffee notes. This also includes the usage (or lack
                                of) pesticides, herbicides, and fungicides.</p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Variety.</h3>
                        </div>
                        <div id="innerflavor">
                            <p>Like wine, coffee has varieties: bourbon, gesha, caturra,catuai & hundreds more. These
                                varieties have different characteristics based on where they're grown and how they're
                                cultivated. </p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Harvesting.</h3>
                        </div>
                        <div id="innerflavor">
                            <p>The harvesting process is a critical step in the growth of the coffee bean. Because
                                coffee is a fruit, we want to harvest the beans when they are perfectly ripe and as a
                                result, specialty graded coffees are often handpicked. When properly grown and
                                harvested, ripe coffee will be sweeter, cleaner, and smoother.</p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Processing.</h3>
                        </div>
                        <div id="innerflavor">
                            <p>This is arguably the biggest factor in determining a bean's flavour notes. There are
                                three main techniques used to process the coffee. Although each of them has its benefits
                                and drawbacks, the end result of each method is a distinct tasting profile. </p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Drying.</h3>
                        </div>
                        <div id="innerflavor">
                            <p>As with any craft, drying the beans requires a balanced approach. Too hot and fast, and
                                the coffee tends to have a woody, papery flavour. Too slow and incomplete, and the
                                result is a mouldy or stale taste. </p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Storage.</h3>
                        </div>
                        <div id="innerflavor">
                            <p>The longer coffee is stored, the heavier the body and musky the flavors get. This depends
                                on how well you store it, but generally coffee lasts 10-14 months if stored properly.
                            </p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Roasting.</h3>
                        </div>
                        <div id="innerflavor">
                            <p>There are 3 main coffee roasts: light, medium, and dark. Traditionally, light roasts are
                                brighter, fruity, and floral. Medium roasts are well-rounded, ranging from chocolatey
                                and nutty to fruity. Dark roasts are bitter and chocolatey. </p>
                        </div>
                    </div>
                    <div class="bodybox">
                        <div id="boxflavor">
                            <h3>Brewing.</h3>
                        </div>
                        <div id="innerflavor">
                            <p>From the grind (size + consistency) to the water (temperature + pH), and the pressure and
                                the time, each brew shapes the flavour profile. Although there are too many variables
                                that go into this final piece to list here, tinkering with the brewing process can make
                                a world of difference. </p>
                        </div>
                    </div>
                </article>
                <article id="bestcoffee">

                    <div class="bodybox" id="titlebest">
                        <h1>Best coffees in the world</h1>
                    </div>
                    <div class="boxbest">
                        <div class="best">
                            <h2>1. Tanzania Peaberry Coffee</h2>
                        </div>
                        <div class="besttext">
                            <p>Grown on Mt. Meru and Mt. Kilimanjaro, Tanzania Peaberry coffee beans are a bright
                                Arabica coffee with a medium body and delightful fruit-toned acidity. The best Tanzania
                                coffees have a taste that is deep and rich, often revealing hints of black currant which
                                soften to chocolate and then blend into the coffee's lingering, sweet finish.</p>
                        </div>
                    </div>
                    <aside class="bestimg1"></aside>
                    <aside class="bestimg2"></aside>
                    <div class="boxbest">
                        <div class="best">
                            <h2>2. Hawaii Kona Coffee</h2>
                        </div>
                        <div class="besttext">
                            <p>The best Hawaiian Kona coffee beans are grown at about 2,000 feet above sea level on the
                                fertile slopes of Mauna Loa and Hualalai Volcanoes on the Big Island of Hawaii, Kona
                                coffee is known for its rich yet light and delicate taste with a complex aroma.
                                Different farms will have slightly different coffees under their own brand, but
                                shouldn't be a blend.</p>
                        </div>
                    </div>
                    <div class="boxbest">
                        <div class="best">
                            <h2>3. Nicaraguan Coffee</h2>
                        </div>
                        <div class="besttext">
                            <p>The best coffees from this top-rated central american country typically exhibit notes of
                                chocolate (dark, almost cacao-like) and fruits like apple and berries.</p>
                        </div>
                    </div>
                    <aside class="bestimg3"></aside>
                    <aside class="bestimg4"></aside>
                    <div class="boxbest">
                        <div class="best">
                            <h2>4. Sumatra Mandheling Coffee</h2>
                        </div>
                        <div class="besttext">
                            <p>Exhibiting a full body and low acidity, Sumatra Mandheling beans are best known as a
                                smooth drinking coffee. It is also known for its sweetness and herbacious, earthy
                                flavor, and complex aroma. The coffee is grown in the Lintong region in north central
                                Sumatra near Lake Toba.</p>
                        </div>
                    </div>
                    <div class="boxbest">
                        <div class="best">
                            <h2>5. Sulawesi Toraja Coffee</h2>
                        </div>
                        <div class="besttext">
                            <p>This multi-dimensional coffee is grown in the southeastern highlands of Sulawesi. Known
                                best for its full body and rich, expansive flavor, Sulawesi Toraja coffee beans are very
                                well balanced and exhibits tasting notes of dark chocolate and ripe fruit. The acidity
                                is low-toned yet vibrant, with less body than a Sumatran coffee though slightly more
                                acidic, and with more earthiness than a typical Java Arabica coffee.</p>
                        </div>
                    </div>
                    <aside class="bestimg5"></aside>


                </article>
            </main>
            <footer>
                <div style="text-align:center;">
                    <h4>Tadeu's coffee guide &REG; 2022</h4>
                </div>
            </footer>
        </div>
    </div>
</Layout>

<style>
    #coffee {
        padding-bottom: 0;
        margin-left: 100px;
        width: 40%;
        max-height: 100px;
        text-align: center;
        font-size: 1.9em;
        color: white;
        overflow: hidden;
    }

    #around {
        text-align: center;
        padding-left: 15px;
        font-size: 0.7em;
        color: white;
    }

    #body-secondary {
        
    }
    
    .container {
        background-color: rgb(80, 139, 96);
        font-family: "Raleway", sans-serif;
        /* width: 1300px; */
        /* position: absolute; */
        /* left: 50%;
        top: 1%;
        transform: translate(-50%, 0); */
    }

    section {
        background-color: white;
        border-radius: 30px;
        width: 100%;
    }

    article {
        background-color: rgb(253, 227, 247);
        border-radius: 30px;
    }

    #bestcoffee {
        background-color: rgb(227, 252, 253);
        border-radius: 30px;
    }

    .header {
        margin: 0;
        max-height: 300px;
        display: block;
        background-color: rgb(106, 46, 42);
        border-radius: 30px;
        position: relative;        
    }
    
    #center {
        /* margin: auto; */
        /* text-align: center; */
        /* background-position: center;
        background-repeat: no-repeat; */
    }
    
    #center img {
        position: relative;
        margin: 0 auto;
        max-height: 170px;
        z-index: 200;
        
    }
    
    .box {
        margin: 0, auto;
        padding: 0;
        width: 100%;
        /* max-height: 85px; */
        text-align: center;
        position: absolute;
        bottom: 0;
    }
    
    .inner {
        display: inline-block;
        width: 47%;
        height: 100%;
    }
    
    .bodybox {
        display: inline-block;
        margin: auto;
        padding: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        position: relative;
        border-bottom: gray 0.5px dotted;
    }

    .bodybox h1{
        margin-top: 30px;
        font-size: 2.4rem;
    }

    .bodyinner {
        display: inline-block;
        width: 25%;
        height: 100%;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #boxflavor {
        display: inline-block;
        width: 20%;
        text-align: center;

        height: 95px;
        overflow: hidden;
        font-weight: bolder;
        font-size: 1.3em;
        font-style: italic;
    }

    #innerflavor {
        display: inline-block;
        width: 75%;
        text-align: justify;
        text-overflow: ellipsis;

        height: 95px;
        overflow: hidden;
        font-size: 1.1em;
        line-height: 1.4em;
    }

    #bodyinimg {
        width: 10%;

    }

    .bodyinner img {
        height: 69px;
        text-align: left;

    }

    #bodydesc {
        text-align: center;
        font-size: large;
        width: 58%;
        font-size: 1.1em;
        word-spacing: 4px;
        line-height: 1.4em;
    }

    #titletype {
        height: 200px;
        /* max-width: 1270px; */
        text-align: left;
        padding-left: 30px;
        padding-top: 10px;
        font-size: 1.9em;
        color: white;
        background-image: url('https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/head1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 30px;
        margin-bottom: 30px;
    }

    #titleflavor {
        height: 200px;
        /* max-width: 1270px; */
        text-align: left;
        padding-left: 30px;
        padding-top: 10px;
        font-size: 1.9em;
        color: white;
        background-image: url('https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/head2.jpg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        border-radius: 30px;
        margin-bottom: 30px;
    }

    #titlebest {
        height: 200px;
        /* max-width: 1270px; */
        text-align: left;
        padding-left: 30px;
        padding-top: 2px;
        font-size: 2em;
        color: rgb(255, 255, 255);
        background-image: linear-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.5)), url('https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/head6.jpg');
        background-repeat: no-repeat;
        background-position: 0px -350px;
        background-size: cover;
        border-radius: 30px;
    }

    #flavors {
        color: brown;
        padding-left: 25px;
        text-align: left;
        font-weight: bold;
        font-size: larger;
        word-spacing: 4px;
        line-height: 1.4em;
        overflow: hidden;
    }

    .boxbest {
        overflow: hidden;
        display: inline-block;
        margin: 0, auto;
        padding: 10px;
        width: 50%;
        max-height: 280px;
        text-align: center;

        position: relative;
        bottom: 50px;
        left: 10px;


    }

    .best {
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
        height: 50px;
        text-align: center;

        color: rgb(106, 46, 42);
    }

    .besttext {
        width: 100%;
        height: 190px;
        text-align: justify;
        font-size: 1.1em;
        line-height: 1.6em;
    }

    .bestimg1 {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        width: 40%;
        height: 400px;
        background-image: url('https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/tanzania.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border-radius: 50px;
        position: relative;
        right: -30px;

    }

    .bestimg2 {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        width: 40%;
        height: 400px;
        background-image: url('https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/kona.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border-radius: 50px;
        position: relative;
        right: -30px;
    }

    .bestimg3 {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        width: 40%;
        height: 400px;
        background-image: url('https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/Nicaragua.JPG');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border-radius: 50px;
        position: relative;
        right: -30px;
    }

    .bestimg4 {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        width: 40%;
        height: 400px;
        background-image: url('https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/sumatra.JPG');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border-radius: 50px;
        position: relative;
        right: -30px;
    }

    .bestimg5 {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        width: 40%;
        height: 400px;
        background-image: url('https://raw.githubusercontent.com/TadeuV/Web-Development-I/main/4-MiniProject-Infographic/SULAWESI.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: relative;
        right: -30px;
    }

    aside {
        margin-top: 8px;
        margin-bottom: 5px;
        max-height: 400px;
    }

    @media only screen and (max-width:600px) {}

    @media only screen and (min-width:800px) {
        .container {
            min-width: 1300px;
        }

        .header {
            min-height: 300px;
        }
    }
</style>