---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Reina - Infographic Mini Project" bgcolor="bg-white">
    <header>
        <img alt="header" src="https://raw.githubusercontent.com/krrr017/mini-project/master/img/header-img.png"
            class="header-img" />
        <div class="title">
            <div>
                <span>The 5 Most Popular Liquors</span>
                <br />
                <span>In The World</span>
            </div>
        </div>
    </header>

    <main>
        <div id="content1">
            <img alt="jinro-soju" src="https://raw.githubusercontent.com/krrr017/mini-project/master/img/soju.png"
                class="contentleft-img" />
            <div class="contentleft-title">
                <p>1. Jinro Soju</p>
            </div>
            <div class="contentleft-info">
                <p>
                    With one makguli and nine soju offerings, Jinro is the top-selling
                    spirit brand in the world. Consumed both straight and in cocktails,
                    Jinro is the quintessential soju in Korea and beyond, making its
                    signature green bottle an emblem of the spirit.
                </p>
            </div>
        </div>

        <div id="content2">
            <img alt="Ginebra-san-miguel-gin"
                src="https://raw.githubusercontent.com/krrr017/mini-project/master/img/gin.png"
                class="contentright-img" />
            <div class="contentright-title">
                <p>2. Ginebra San Miguel Gin</p>
            </div>
            <div class="contentright-info">
                <p>
                    Ginebra San Miguel makes only one of two gins featured on this list,
                    produced in a family-owned distillery in Manila, Philippines. Having
                    entered the scene in 1834, Ginebra has successfully made a name for
                    itself over nearly two centuries.
                </p>
            </div>
        </div>

        <div id="content3">
            <img alt="McDowells-No1-Whisky"
                src="https://raw.githubusercontent.com/krrr017/mini-project/master/img/wisky.png"
                class="contentleft-img" />
            <div class="contentleft-title">
                <p>3. McDowell’s No.1 Whisky</p>
            </div>
            <div class="contentleft-info">
                <p>
                    Diageo giant McDowell’s takes the cake in the whisky category,
                    with its signature No.1 variety landing at the number three spot
                    in terms of popularity in 2021.
                </p>
            </div>
        </div>

        <div id="content4">
            <img alt="Smirnoff-Vodka"
                src="https://raw.githubusercontent.com/krrr017/mini-project/master/img/sminoff.png"
                class="contentright-img" />
            <div class="contentright-title">
                <p>4. Smirnoff Vodka</p>
            </div>
            <div class="contentright-info">
                <p>
                    The most popular vodka in the world, Smirnoff has long been
                    recognized for its smooth taste and texture — beating out the
                    competition in blind tastings. While its unflavored variety is its
                    most popular offering, Smirnoff’s flavored offerings (33 of them, to
                    be exact) and its Smirnoff Ice malt liquor soda have cemented it as
                    a household name in both the vodka and RTD arenas.
                </p>
            </div>
        </div>

        <div id="content5">
            <img alt="Imperial-Blue-Whisky"
                src="https://raw.githubusercontent.com/krrr017/mini-project/master/img/blue-whisky.png"
                class="contentleft-img" />
            <div class="contentleft-title">
                <p>5. Imperial Blue Whisky</p>
            </div>
            <div class="contentleft-info">
                <p>
                    Imperial Blue Indian whisky is the largest brand by volume in Pernod
                    Ricard’s portfolio, which acquired it in 2002. Its sub-$10 price
                    point and smooth flavor make it a go-to for imbibers around the
                    globe.
                </p>
            </div>
        </div>
    </main>
</Layout>

<style>
    header {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 767px;
        display: flex;
        position: relative;
        box-sizing: border-box;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: transparent;
        margin-right: 0;
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 0;
        background-color: rgba(255, 200, 143, 1);
    }

    .header-img {
        top: 465px;
        left: 0px;
        width: 100%;
        height: 302px;
        position: absolute;
        box-sizing: border-box;
        border-color: transparent;
        margin-right: 0;
        margin-bottom: 0;
    }

    .title {
        top: 92px;
        /*left: 64px;*/
        width: 100%;
        color: rgba(255, 255, 255, 1);
        height: auto;
        position: absolute;
        font-size: 100px;
        align-self: auto;
        font-style: Bold;
        text-align: center;
        font-family: Judson;
        font-weight: 700;
        line-height: normal;
        font-stretch: normal;
        margin-right: 0;
        margin-bottom: 0;
        text-decoration: none;
    }

    main {
        position: relative;
        display: gird;
        grid-template-rows: auto;
        width: 100%;
    }

    #content1 {
        width: 100%;
        height: 581px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: transparent;
        margin-right: 0;
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 0;
        background-color: rgba(255, 240, 197, 1);
    }


    #content2 {
        width: 100%;
        height: 581px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: transparent;
        margin-right: 0;
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 0;
    }


    #content3 {
        width: 100%;
        height: 581px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: transparent;
        margin-right: 0;
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 0;
        background-color: rgba(255, 240, 197, 1);
    }


    #content4 {
        width: 100%;
        height: 581px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: transparent;
        margin-right: 0;
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 0;
    }


    #content5 {
        width: 100%;
        height: 581px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
        border-color: transparent;
        margin-right: 0;
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 0;
        background-color: rgba(255, 240, 197, 1);
    }


    .contentleft-img {
        top: 15%;
        left: 65%;
        width: 428px;
        height: 400px;
        position: absolute;
        box-sizing: border-box;
        border-color: transparent;
        margin-right: 0;
        margin-bottom: 0;
    }


    .contentleft-title {
        top: 25%;
        left: 10%;
        color: rgba(66, 53, 44, 1);
        height: auto;
        position: absolute;
        font-size: 60px;
        align-self: auto;
        font-style: Bold;
        text-align: center;
        font-family: Alegreya Sans;
        font-weight: 700;
        line-height: normal;
        font-stretch: normal;
        margin-right: 0;
        margin-bottom: 0;
        text-decoration: none;
    }


    .contentleft-info {
        top: 50%;
        left: 10%;
        color: rgba(66, 53, 44, 1);
        width: 760px;
        height: auto;
        position: absolute;
        font-size: 30px;
        align-self: auto;
        font-style: Medium;
        text-align: center;
        font-family: Alegreya Sans;
        font-weight: 500;
        line-height: normal;
        font-stretch: normal;
        margin-right: 0;
        margin-bottom: 0;
        text-decoration: none;
    }


    .contentright-img {
        top: 15%;
        right: 75%;
        width: 231px;
        height: 400px;
        position: absolute;
        box-sizing: border-box;
        border-color: transparent;
        margin-right: 0;
        margin-bottom: 0;
    }


    .contentright-title {
        top: 25%;
        right: 10%;
        color: rgba(66, 53, 44, 1);
        height: auto;
        position: absolute;
        font-size: 60px;
        align-self: auto;
        font-style: Bold;
        text-align: center;
        font-family: Alegreya Sans;
        font-weight: 700;
        line-height: normal;
        font-stretch: normal;
        margin-right: 0;
        margin-bottom: 0;
        text-decoration: none;
    }


    .contentright-info {
        top: 50%;
        right: 10%;
        color: rgba(66, 53, 44, 1);
        width: 760px;
        height: auto;
        position: absolute;
        font-size: 30px;
        align-self: auto;
        font-style: Medium;
        text-align: center;
        font-family: Alegreya Sans;
        font-weight: 500;
        line-height: normal;
        font-stretch: normal;
        margin-right: 0;
        margin-bottom: 0;
        text-decoration: none;
    }
</style>