---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Hikari - Infographic Mini Project">
    <div id="body-secondary">
        <div class="bg-style">
            <header>
                <div class="header_container">
                    <h1>How to enjoy Starbucks in your place</h1>
                    <img src="https://raw.githubusercontent.com/Hikari7/infographic_Starbucks/main/imgs/594px-Starbucks_Corporation_Logo_2011.svg.png" />
                </div>
            </header>
            <main>
                <section class="section">
                    <div class="contents">
                        <div class="desc">
                            <h2>Know where the beans from</h2>
                            <p>
                                The importance of a place for coffee. Its place makes a
                                difference to its flavour. <br />It's like wine or tea. A
                                region's soil, climate and other conditions all have an impact
                                on how your coffee tastes.
                            </p>
                        </div>
                        <ul class="places">
                            <li class="place">
                                <span class="material-symbols-outlined"> pin_drop </span>
                                <h3>Laten America</h3>
                            </li>
                            <li class="place">
                                <span class="material-symbols-outlined"> pin_drop </span>
                                <h3>Africa</h3>
                            </li>
                            <li class="place">
                                <span class="material-symbols-outlined"> pin_drop </span>
                                <h3>Asian, Pacific</h3>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section">
                    <div class="contents">
                        <div class="desc">
                            <h2>Find your preference of roasts</h2>
                            <p>
                                Many variables affect the flavour of coffee:<br />
                                where the coffee is grown, what type of coffee is grown, how the
                                coffee is grown, how the fruit is removed from the bean, how
                                coffee is blended and roasted, and how coffee is brewed.
                            </p>
                        </div>
                        <ul class="roasts">
                            <li class="roast">
                                <h3>STARBUCKS® BLONDE ROAST</h3>
                                <p class="roast_desc">
                                    An easy-drinking cup with mellow and balanced flavours
                                </p>
                                <div class="roast_details">
                                    <div class="roast_detail">
                                        <img src="https://raw.githubusercontent.com/Hikari7/infographic_Starbucks/main/imgs/SBUX_Nespresso_Vertuo_Blonde-Roast_Website_07630477890878_LongShadow_1656639768496.webp"
                                            class="roast_img" />
                                        <p>Starbucks Blonde Espresso Roast</p>
                                    </div>
                                    <div class="roast_detail">
                                        <img src="https://raw.githubusercontent.com/Hikari7/infographic_Starbucks/main/imgs/SBUX_Website_ImageShadows_L_2_LongShadow_1842by1542px_CA_en_20210412_1.webp"
                                            alt="" class="roast_img" />
                                        <p>Starbucks True North Blend</p>
                                    </div>
                                </div>
                            </li>
                            <li class="roast">
                                <h3>MEDIUM ROAST</h3>
                                <p class="roast_desc">
                                    A smooth, balanced cup that brings rich, approachable flavours
                                </p>
                                <div class="roast_details">
                                    <div class="roast_detail">
                                        <img src="https://raw.githubusercontent.com/Hikari7/infographic_Starbucks/main/imgs/SBUX_Website_R&G_LongShadow_CA_en_762111008220_Sumatra_1654067344788.webp"
                                            class="roast_img" />
                                        <p>Starbucks Pike Place Roast</p>
                                    </div>
                                    <div class="roast_detail">
                                        <img src="https://raw.githubusercontent.com/Hikari7/infographic_Starbucks/main/imgs/SBUX_Website_R&G_LongShadow_CA_en_762111331199_True North Blend 793g_1654067344788.webp"
                                            class="roast_img" />
                                        <p>Starbucks Medium Roast</p>
                                    </div>
                                </div>
                            </li>

                            <li class="roast">
                                <h3>DARK ROAST</h3>
                                <p class="roast_desc">A fuller body and a robust, bold taste</p>
                                <div class="roast_details">
                                    <div class="roast_detail">
                                        <img src="https://raw.githubusercontent.com/Hikari7/infographic_Starbucks/main/imgs/SBUX_Website_R&G_LongShadow_CA_en_762111331205_Pike Place 793g_1654067344788.webp"
                                            class="roast_img" />
                                        <p>Starbucks Espresso Roast</p>
                                    </div>
                                    <div class="roast_detail">
                                        <img src="https://raw.githubusercontent.com/Hikari7/infographic_Starbucks/main/imgs/SBUX_Website_WB_LongShadow_CA_en_762111464125_Espresso Roast 907g_1654065292399.webp"
                                            class="roast_img" />
                                        <p>Starbucks Sumatra Single-Origin</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section">
                    <div class="contents">
                        <div class="desc">
                            <h2>Try 4steps for having coffee</h2>
                            <p>
                                When you pay close attention to your coffee’s many
                                characteristics, a sensory world opens up.
                            </p>
                        </div>

                        <ol>
                            <li class="step">
                                <div class="step_num">1</div>
                                <div class="step_desc">
                                    <h3>Smell with Inhale deeply</h3>
                                    <p>
                                        Always smell a coffee before you taste it. Inhale deeply.
                                        Your mouth can distinguish five tastes – sweet, salty,
                                        bitter, sour, and umami – but your nose can differentiate
                                        one trillion aromas!
                                    </p>
                                </div>
                            </li>
                            <li class="step">
                                <div class="step_num">2</div>
                                <div class="step_desc">
                                    <h3>Slurp</h3>
                                    <p>
                                        Take a good, noisy slurp of your coffee. Don’t be shy. This
                                        will spray the coffee across your tongue and palate, letting
                                        you taste all the subtleties.
                                    </p>
                                </div>
                            </li>
                            <li class="step">
                                <div class="step_num">3</div>
                                <div class="step_desc">
                                    <h3>locate</h3>
                                    <p>
                                        Think about how the coffee feels in your mouth. What is its
                                        weight or thickness? Where on your tongue do you experience
                                        the flavours?
                                    </p>
                                </div>
                            </li>
                            <li class="step">
                                <div class="step_num">4</div>
                                <div class="step_desc">
                                    <h3>Vitally, describe.</h3>
                                    <p>
                                        What words would you choose to describe your tasting
                                        experience? The aroma, the flavours, how the coffee feels in
                                        your mouth. Does your tongue detect much acidity in the
                                        coffee? What other flavours might you use for comparison?
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </section>
            </main>
        </div>
        <footer></footer>
    </div>
</Layout>




<style>
    /* common */
    @import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

    html {
        font-size: 62.5%;
    }

    * {
        padding: 0;
        margin: 0;
    }

    h1,
    h2,
    h3 {
        font-family: Georgia;
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    h2,
    h3 {
        color: #006140;
    }

    h3 {
        font-size: 1rem;
    }

    .contents {
        display: block;
        width: 85%;
        margin: 0 auto;
    }

    li {
        list-style: none;
        margin-top: 24px;
    }

    p {
        line-height: 1.6;
    }

    #body-secondary {
        font-family: SODO Sans, SoDoSansRegular, system-ui, Arial, serif;
    }

    .bg-style {
        background: linear-gradient(to bottom,
                transparent 0%,
                transparent 5%,
                #f2f0ea 10%),
            url(https://raw.githubusercontent.com/Hikari7/infographic_Starbucks/main/imgs/photo-1606486544554-164d98da4889.avif);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    /* header */

    header .header_container {
        width: 80%;
        display: flex;
        /* margin: 36px auto; */
        margin: 0px auto;
        padding: 36px;
    }

    .header_container img {
        width: 30%;
        height: 30%;
    }

    header h1 {
        font-size: 2.8rem;
        color: #f2f0ea;
        display: block;
        text-align-last: left;
    }

    @media only screen and (min-width: 550px) and (max-width: 768px) {
        h1 {
            font-size: 3.2rem;
        }

        header h1 {
            font-size: 3.2rem;
        }

        h2 {
            font-size: 2.4rem;
        }

        h3 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.2rem;
        }

        .section {
            padding: 50px;
        }
    }

    @media only screen and (min-width: 769px) {
        h1 {
            font-size: 4.2rem;
            padding: 36px;
        }

        header h1 {
            font-size: 4.2rem;
        }

        h2 {
            font-size: 3.2rem;
        }

        h3 {
            font-size: 2.4rem;
        }

        p {
            font-size: 1.6rem;
        }

        .section {
            padding: 60px;
        }
    }

    /* main */

    main h2 {
        padding-bottom: 8px;
    }

    /* section */
    .section {
        margin: 36px auto;
        width: 70%;
        background-color: rgba(249, 249, 249, 0.6);
        padding: 42px;
        border-radius: 8px;
    }

    /* section1 */

    .place:first-child {
        margin-top: 16px;
    }

    .places {
        display: block;
        padding: 0;
        margin: 0px;
    }

    .place {
        color: #1e3832;
        width: 50%;
        margin: 1.6rem auto;
        text-align: center;
        padding: 1.6rem 0;
        background-color: #d4e8e1;
        margin-top: 8px;
        border-radius: 12px;
        box-shadow: 0 0 3rem -0.8rem;
    }

    .roast_img {
        display: block;
        width: 300px;
        height: 300px;
    }

    @media only screen and (min-width: 550px) and (max-width: 768px) {
        .places {
            display: flex;
            padding: 0;
            margin: 0px;
        }

        .place {
            margin: 1.2rem;
            width: calc(100% / 3);
        }

        .place li {
            display: table-cell;
            /* vertical-align: middle; */
        }

        .place h3 {
            display: block;
            padding: 16px;
        }
    }

    @media only screen and (min-width: 769px) {
        .places {
            display: flex;
            padding: 0;
            margin: 0px;
        }

        .place {
            margin: 1.2rem;
            width: calc(100% / 3);
        }

        .place li {
            display: table-cell;
            /* vertical-align: middle; */
        }

        .place h3 {
            display: block;

            padding: 16px;
        }
    }

    /* section2 */
    .roast {
        color: #1e3832;
        width: auto;
        margin: 36px auto;
        text-align: center;
        padding: 24px 0;
        background-color: #d4e8e1;
        margin-top: 24px;
        border-radius: 12px;
        box-shadow: 0 0 3rem -0.8rem;
    }

    .roast_desc {
        padding-top: 12px;
        width: 60%;
        margin: 0 auto;
    }

    .roast_detail {
        display: flex;
        box-sizing: border-box;
        position: relative;
    }

    .roast_detail img {
        width: 50%;
        height: 50%;
    }

    .roast_detail p {
        display: inline;
        position: absolute;
        width: 45%;
        top: 50%;
        left: 50%;
        background-color: #f2f0ea;
        border-radius: 6px;
        color: #01754a;
        padding: 2px;
        box-sizing: border-box;
        font-size: 1rem;
    }

    @media only screen and (min-width: 550px) {
        .roast_details {
            display: flex;
        }

        .roast {
            margin-top: 42x;
        }

        .roast_detail {
            flex-direction: column;
            width: 50%;
            align-items: center;
            position: static;
        }

        .roast_detail img {
            display: block;
            width: 50%;
            align-items: center;
            margin-top: 12px;
        }

        .roast_detail p {
            display: block;
            position: static;
            margin-top: 12px;
        }

        .roast_detail img {
            width: 50%;
            height: 80%;
        }
    }

    /* section3*/
    .step {
        display: flex;
    }

    .step_num {
        color: #006140;
        font-family: Georgia;
        display: block;
        height: 100%;
        width: 30%;
        text-align: center;
        font-size: 10em;
    }

    .step h3 {
        margin: 16px 0;
    }

    .step {
        color: #006140;
        width: auto;
        margin: 24px auto;
        padding: 24px;
        background-color: #d4e8e1;
        margin-top: 24px;
        border-radius: 12px;
        box-shadow: 0 0 3rem -0.8rem;
    }

    .section:last-child {
        padding-bottom: 36px;
        margin-bottom: 0;
    }

    .step_desc {
        text-align-last: left;
        width: 70%;
    }

    .step_desc p {
        color: #000;
    }
</style>