---
export interface Props {
	name: string;
	title: string;
	image: string;
	status: boolean;
}

const { name, title, image, status } = Astro.props as Props;
---

<div class="w-full sm:w-1/2 lg:w-1/4 px-4">
	<div class="mb-10 wow fadeInUp" data-wow-delay=".1s">
		<a href={`/student/${name}`}>
			<div class="relative w-[170px] h-[170px]  z-10 mx-auto mb-6">
				<img src={image} alt="image" class={`w-full ${!status && 'opacity-50' }`} />
			</div>
			<div class="text-center">
				<h4 class="text-white mb-2 capitalize">
					{title}
				</h4>
				<p class="font-medium text-sm text-dark mb-5 capitalize">
					{name}
				</p>
			</div>
		</a>
	</div>
</div>

<style>
	h4 {
		font-size: 20px;
	}

	@media (max-width: 500px) {
		h4 {
			font-size: 1.5rem;
		}
	}
</style>