---
export interface Props {
	title: string;
	bgcolor?: string;
}

const { title, bgcolor } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
	<link rel="stylesheet" href="../assets/css/animate.css" />
	<link rel="stylesheet" href="../assets/css/tailwind.css" />
</head>

<body>
	<!-- <slot /> -->
	<!-- ====== Navbar Section Start -->
	<div class="bg-transparent absolute top-0 left-0 z-40 w-full flex items-center">
		<div class="container">
			<div class="flex -mx-4 items-center justify-between relative">
				<div class="w-[8rem] max-w-full">
					<a href="/" class="navbar-logo w-[170px] block py-5">
						<img src="https://stickershop.line-scdn.net/stickershop/v1/sticker/1925837/android/sticker.png"
							alt="logo" class="rounded-full" />
					</a>
				</div>
				<div class="flex justify-between items-center w-full">
					<h1 class="text-white font-bold text-2xl sm:text-2xl md:text-[35px] leading-snug sm:leading-snug md:leading-snug mb-8">
						-0522 Infographic Showcase
					</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- ====== Navbar Section End -->

	<!-- ====== Hero Section Start -->
	<div id="home" class="relative pt-[120px] md:pt-[130px] lg:pt-[160px] bg-primary">
		<div class="container">
			<div class="flex flex-wrap items-center -mx-4 h-20">
			</div>

			<div class={`flex flex-wrap justify-center -mx-4 pt-4 relative overflow-hidden ${bgcolor && bgcolor}`}>
				<slot />
			</div>

		</div>
	</div>
	<!-- ====== Hero Section End -->

	<!-- ====== Back To Top Start -->
	<a href="javascript:void(0)" class="hidden items-center justify-center bg-primary text-white w-10 h-10 rounded-md fixed bottom-8 right-8
        left-auto z-[999] hover:bg-dark back-to-top shadow-md transition duration-300 ease-in-out">
		<span class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]"></span>
	</a>
	<!-- ====== Back To Top End -->
</body>

</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>